@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

*,
::before,
::after {
  border-width: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.listbox-options::-webkit-scrollbar {
  width: 8px;
}

.listbox-options::-webkit-scrollbar-track {
  background: transparent;
}

.listbox-options::-webkit-scrollbar-thumb {
  background: #eaecf0;
  border-radius: 8px;
}

.listbox-options {
  scrollbar-width: thin;
  scrollbar-color: #eaecf0 transparent;
}

.qb-thumb::-webkit-scrollbar {
  width: 8px;
}

.qb-thumb::-webkit-scrollbar-track {
  background: transparent;
}

.qb-thumb::-webkit-scrollbar-thumb {
  background: #efe5f8;
  border-radius: 8px;
}

.qb-thumb {
  scrollbar-width: thin;
  scrollbar-color: #eaecf0 transparent;
}

.custom-shadow {
  box-shadow: 0px 3.629821538925171px 133.39593505859375px 0px rgba(217, 169, 255, 0.65);
}

.btn-shadow {
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06),
    0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}

.card-shadow {
  box-shadow: 0px 12px 40px -4px rgba(217, 169, 255, 0.49);
}

.ai-card-bg {
  background-image: url(/ai-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@keyframes pingEffect {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ping-enter {
  animation: pingEffect 0.3s forwards;
}

.no-thumb::-webkit-scrollbar {
  width: 0;
}

.edit-thumb::-webkit-scrollbar {
  width: 8px;
}

.edit-thumb::-webkit-scrollbar-track {
  background: #ddc8f1;
  border-radius: 8px;
}

.edit-thumb::-webkit-scrollbar-thumb {
  background: #914fd2;
  border-radius: 8px;
}

.form-shadow {
  box-shadow: 0px 4px 149px 0px rgba(217, 169, 255, 0.25);
}

.gradient-border {
  --borderWidth: 2px;
  background: white;
  position: relative;
  border-radius: 76px;
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82);
  border-radius: 76px;
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.input-date-icon::-webkit-calendar-picker-indicator {
  background-image: url(/calendar.png);
  font-size: 18px;
}